<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadImg</servlet-name>
    <servlet-class>com.inm.servlet.UploadImg</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewArticle</servlet-name>
    <servlet-class>com.inm.servlet.NewArticle</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Query</servlet-name>
  	<servlet-class>com.inm.servlet.Query</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>com.inm.servlet.AddComment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchComment</servlet-name>
    <servlet-class>com.inm.servlet.SearchComment</servlet-class>
  </servlet>
  <servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.inm.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>QueryTitleByAccount</display-name>
		<servlet-name>QueryTitleByAccount</servlet-name>
		<servlet-class>com.inm.servlet.QueryTitleByAccount</servlet-class>
	</servlet>


  <servlet-mapping>
    <servlet-name>UploadImg</servlet-name>
    <url-pattern>/uploadimg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewArticle</servlet-name>
    <url-pattern>/newarticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Query</servlet-name>
  	<url-pattern>/query</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/AddComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchComment</servlet-name>
    <url-pattern>/SearchComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryTitleByAccount</servlet-name>
		<url-pattern>/QueryTitleByAccount</url-pattern>
	</servlet-mapping>
	
	
	
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.inm.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<!-- 这里表示 对所有jsp页面进行拦截 -->
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
  
  	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
